<div class="body">
  <div class="alignHeight">
    <!-- Header  -->
    <header class="header">
      <img src="../../assets/onboarding/onboardingLogo.png" />
    </header>
    <div class="contentAfterHeader container">
      <div class="leftSideSpace">
      </div>
      <div class="centerContent">
        <!-- doel and doelPara  -->
        <div>
          <div class="doel">
            Doel
          </div>
          <div class="doelPara mb-4">
            Veel organisaties zoeken naar manieren om hun
            werknemers te beschermen tegen stress en
            burn-out. Deze energie app is daarvoor gemaakt en
            wordt je kosteloos door je werkgever aangeboden.
            De app vraagt heel weinig tijd van je, is
            oplossingsgericht en heeft oog voor individu
            én groep:
          </div>
          <div class="doelPara mb-4">
            <img src="../../assets/onboarding/persoonlijkImage.png" alt=""> <strong class="ms-2">Persoonlijk</strong>
            <div class="ms-5">
              De app is bedoeld om jou te helpen om je energie te
              herstellen, behouden of vergroten. Voor een buffer
              tegen stress en voor meer werkplezier.
            </div>
          </div>
          <div class="doelPara mb-4">
            <img src="../../assets/onboarding/afdeling.png" alt=""> <strong class="ms-2"> Afdeling</strong>
            <div class="ms-5">
              Bij voldoende respons worden jouw scores anoniem
              verwerkt in de cijfers van je afdeling. Zo kun je met
              elkaar ook aan de slag met de energie in je afdeling.
            </div>
          </div>

        </div>
      </div>
      <div class="rightSideSpace">
      </div>
    </div>
  </div>


</div>
<div class="footer">
  <div class="footerLeftSide">
  </div>
  <div class="footerCenter">

    <div class="dotsAndButton">
      <div class="dots">
        <img src="../../assets/onboarding/Oval.png" class="me-2" />
        <img src="../../assets/onboarding/OvalWhite.png" class="me-2" />
        <img src="../../assets/onboarding/OvalWhite.png" class="me-2" />
      </div>

      <img src="../" alt="">
      <div class="verder">
        <button class="btn btn-primary" [routerLink]="['/onderdelen']">Verder</button>
      </div>
    </div>
  </div>
  <div class="footerRightSide">
  </div>
</div>
