<div class="body">
  <div class="alignHeight">
    <!-- Header  -->
    <header class="header">
      <img src="../../assets/onboarding/onboardingLogo.png" />
    </header>
    <div class="contentAfterHeader container">
      <div class="leftSideSpace">
      </div>
      <div class="centerContent">
        <!-- doel and doelPara  -->
        <div>
          <div class="doel">
            Privacy
          </div>
          <div class="doelPara mb-4">
            Je kunt hierna een account aanmaken met e- mailadres en wachtwoord dat je van je werkgever hebt ontvangen.
          </div>
          <div class="doelPara mb-4">
            Je kunt hierna een account aanmaken met e-
            mailadres en wachtwoord dat je van je werkgever
            hebt ontvangen.
            Om afdelingscijfers te kunnen genereren, beheren
            Wij jouw gegevens en die van je collega's in onze
            beveiligde database. Jouw werkgever kan hier niet
            bij en ontvangt alleen gemiddelden en percentages
            op groepsniveau (afdeling en hoger) en dus alleen
            bij voldoende respons.
          </div>
          <div class="doelPara mb-4">
            Meer informatie over privacy onder Instellingen.
          </div>
        </div>
      </div>
      <div class="rightSideSpace">
      </div>
    </div>
  </div>
</div>

<!-- footer Main  -->
<div class="footer">
  <div class="footerLeftSide">
  </div>
  <div class="footerCenter">
    <!-- footer  -->
    <div class="dotsAndButton pb-3">
      <div class="dots">
        <img src="../../assets/onboarding/OvalWhite.png" class="dot" />
        <img src="../../assets/onboarding/OvalWhite.png" class="dot" />
        <img src="../../assets/onboarding/Oval.png" class="dot" />
      </div>

      <img src="../" alt="">
      <div class="verder">
        <button class="btn btn-primary" [routerLink]="['/energiesscores']">Gereed</button>
      </div>
    </div>
    <!-- footer end  -->
  </div>
  <div class="footerRightSide">
  </div>
</div>
