@import "../../../styles.scss";

// from 0
@include media-breakpoint-up(xs) {
  .navLargeScreen {
    display: none;
  }


  .active{
    border-radius: 8px;
  }

  .active{
    margin-bottom: 14px;
    border-radius: 8px;
  }

  .nav-link{
  background: #F5F7FA;

  }
  .nav{
    margin-right: 15px;
    // font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: #7c8895;
  }

  .nav-item{
    margin-left: 5px;
    padding-left: 5px;
    background-color: #f4f5f8;
    border-radius: 8px;
    height: 40px;
    // width: 15px;
    left: 173px;
    margin-bottom: 5px;
    border-radius: 8px;
    padding-bottom: 15px ;

  }

  .navSmallScreen {
    display: inline;

  }

  // .Pbutton {
  //   border-radius: 8px;
  //   background-color: rgb(250, 248, 245);
  //   margin-left: 30px;
  //   width: 165px;
  //   height: 38px;
  //   top: 4px;
  //   left: 173px;

  // }

  // .Abutton {
  //   border-radius: 8px;
  //   background-color: rgba(245, 247, 250, 1);
  //   margin-right: 20px;
  //   width: 165px;
  //   height: 38px;
  //   top: 4px;
  //   left: 173px;
  // }

  .myOwnBg {
    background-color: yellow;
  }

  ;

  .positive {
    background-color: green;
  }

  .negative {
    background-color: red;
  }

  .one {
    color: red;
    background-color: red;
    width: 250px;
    display: flex;
    margin-left: 410px;
    border-radius: 50px;
  }

  .online {
    background-color: rgb(47, 74, 163);
  }

  // input[type='range'] {
  //   overflow: hidden;
  //   width: 80%;
  //   -webkit-appearance: none;
  //   background-color: #E4E7EB;
  //   border-radius : 50px;
  // }

  // input[type="range"]::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   height: 20px;
  //   width: 20px;
  //   border-radius: 50%;
  //   background-image: "EnergyAppFrontend/src/assets/slider/Sliderbutton.png";
  //   cursor: ew-resize;
  //   box-shadow: 0 0 2px 0 #555;
  //   transition: background .3s ease-in-out;
  // }

  .slide-container {
    width: 300px;
  }

  .slider {
    background-color: #FF0000;
    -webkit-appearance: none;
    width: 40%;
    height: 20px;
    border-radius: 80px;
    background: #E4E7EB;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  // .slider:hover {
  //   opacity: 1;
  // }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 50%;
    background-image: url('../../../assets/slider/Sliderbutton.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -20px;
  }

  .slider::-moz-range-thumb {
    width: 23px;
    height: 64px;
    border: 0;
    border-radius: 50%;
    background-image: url('../../../assets/slider/Sliderbutton.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .highScoreConfirm {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cards {
    margin: 0px 2%;
  }

  .rangeAndApiDiv {
    display: flex;
    justify-content: center;
  }

  .rangeInput {
    display: flex;
    justify-content: center;
    // width:150px;
  }

  .rangeDiv {
    // background-color: red !important;
    font-weight: 600;
    font-size: 42px;
    padding: 20px 60px 80px 40px;
    background-color: rgba(221, 241, 229, 1);
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    color: rgb(51, 57, 65);
    // display : flex;
    // justify-content: end;
  }

  .listItemsMainDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px 50px 0px 0px;
    // align-items : center;
  }

  .cardMaandscore {
    margin: 0px 2%;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
  }

  .cardTrend {
    margin: 0px 2%;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;

  }

  .cardGemiddelde {
    margin: 0px 2%;
    border: none;
    cursor: pointer;
  }

  .cardBranche {
    margin: 0px 2%;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
  }

  .chartCanvas {
    width: 100% !important;
  }

  .apiOutside {
    position: absolute;
    left: 48.5%;
    top: 44%;
    font-weight: 600;
    font-size: 64px;
    color: #9aa5b1;
  }

  .apiOutsideConfirm {
    position: absolute;
    left: 48.5%;
    top: 45%;
    font-weight: 600;
    font-size: 64px;
    color: #9aa5b1;
  }

  .apiValue {
    text-align: center;
    padding: 15px 50px;
    width: 10px;
    background-color: #e4e7eb;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 64px;
    color: #00924a;
    ;
  }


  // .rangeDiv {
  //   display: flex;
  //   justify-content: center;
  // }



  .vulButton {
    background: linear-gradient(#9198e5);
  }

  .modalBodyStartingModal {
    padding: 10% 10%;
  }

  .flyingIcon {
    text-align: center;
  }

  .vul {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #52606d;
    margin-top: 24px;
  }

  .vulPara {
    font-weight: 300;
    font-size: 14px;
    line-height: 175%;
    text-align: center;
    color: #a2abb4;
    margin-top: 24px;
  }

  .jePara {
    font-weight: 600;
    font-size: 14px;
    line-height: 175%;
    text-align: center;
    color: #7c8895;
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .canvasDiv {
    width: 100%;
    margin-left: -30px !important;
  }

  .maandRadio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hiddenOnSm {
    display: none;
  }

  .hiddenOnLg {
    display: inline;
  }

  .scoreLists {
    color: #000;
    margin-right: 50px;
    text-align: center;
    list-style-type: none;
  }

  .maandscore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .maandscoreText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #3e4c59;
  }

  .trendScoreText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #3e4c59;
  }

  .gemiddeldeScoreText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #3e4c59;
  }

  .brancheScoreText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #3e4c59;
  }

  .maandscorePara,
  .trendScorePara,
  .gemiddeldeScorePara,
  .brancheScorePara {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    color: #7b8794;
  }

  .maandscoreNumber {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    color: #00924a;
    background-color: #ddf1e5;
    border-radius: 5px;
    padding: 2% 4%;
  }

  .trendScore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trendScoreNumber {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    color: #9aa5b1;
    padding: 2% 2%;
  }

  .gemiddeldeScoreNumber {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    color: #9aa5b1;
    padding: 2% 2%;
  }

  .brancheNumber {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    color: #9aa5b1;
    padding: 2% 2%;
  }

  .gemiddeldeScore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .brancheScore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .graph {
    width: 100%;
  }

  .mainSidebarAndDashboard {
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
  }

  .scoresLiItems {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  .energiescores {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #52606d;
  }

  .cardsAndGraph {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    // padding : 3%;
  }

  .scoresFooter {
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100% !important;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0px;
    border-radius: 50px 50px 0px 0px;
  }

  .modalHeader {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #52606d;
  }

  .modalMaak {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #78818b;
  }

  .rangeNumberDiv {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .rangeNumber {
    background-color: #e4e7eb;
    padding: 2%;
  }


  // from 576
  @include media-breakpoint-up(sm) {}

  // from 768
  @include media-breakpoint-up(md) {

    .imgAndText {
      margin-top: 20px;
      display: flex;
      justify-content: start;
    }

    .listItemsMainDiv {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: left;
      margin-left: 20px;
      box-shadow: none;
    }

    .scoresFooter {
      box-shadow: none;
    }

    .afdelingTab {
      background-color: #f4f6f9;
      color: #616e7c;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
    }

    .persoonlijkeTab {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
      color: #4279de !important;
    }

    .mainLogo {
      padding-left: 15%;
    }

    .energiescoresImage {
      margin-left: 20%;
    }

    .energiescores {
      margin-top: 10px;
      margin-bottom: 35px;
      padding-left: 17%;
    }

    .hiddenOnSm {
      display: inline;
    }

    .hiddenOnLg {
      display: none;
    }

    .scoreLists {
      color: #7b8794;
      text-align: left;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
    }

    .mainSidebarAndDashboard {
      display: flex;
      flex-direction: row;
    }

    .scoresLiItems {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #7b8794;
      padding: 2% 2% 25% 20%;
    }

    .mainLogoAndEnergieScoresText {
      text-align: center;
      // padding: 2% 2% 2% 2%;
    }

    .mainLogoAndListItems {
      background-color: #f5f7fa;
      max-height: fit-content;
      height: 1200px !important;
      padding: 2% 5% 25% 2%;
    }

    .dashboard {
      font-style: normal;
      font-weight: 600;
      font-size: 27px;
      line-height: 30px;
      color: #52606d;
    }

    .rightSideBar {
      width: 100%;
      padding: 2%;
    }

    .cardsAndGraph {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .modalBody {
      padding-top: 10%;
      padding-bottom: 0;
      padding-right: 20%;
      padding-left: 20%;
    }

    .scoreLists {
      margin-bottom: 20px !important;
    }
  }

  // frm 992
  @include media-breakpoint-up(lg) {
    .navLargeScreen {
      display: inline;
    }

    .navSmallScreen {
      display: none;
    }

    .hiddenOnSm {
      display: inline;
    }

    .hiddenOnLg {
      display: none;
    }
  }

  // from 1200
  @include media-breakpoint-up(xl) {}

  // from 1400
  @include media-breakpoint-up(xxl) {}

  @media screen and (min-height: 800px) {}
}
